.new_header {
  background-image: url(../images/2023-3-banner.jpg);
  height: 700px;
  width: 100%;
  background-color: #000;
  background-size: cover; /* Ảnh phủ kín header */
  background-position: center; /* Căngiữa ảnh */
  background-repeat: no-repeat; /* Không lặp ảnh */
}

.new .new_title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 20px;
}

.event-container {
  width: 450px;
  height: 700px;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.event-card {
  width: 900px;
  background: #ffffff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  transition: 0.3s ease;
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.18);
}

/* Ảnh */
.event-image img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: 0.4s ease;
}

.event-card:hover .event-image img {
  transform: scale(1.05);
}

/* Nội dung */
.event-content {
  padding: 25px 30px;
}

.event-title {
  font-size: 12px;
  font-weight: 600;
  color: #0d0d0d;
  margin-bottom: 12px;
}

.event-description {
  color: #555;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Nút */
.event-button {
  display: inline-block;
  padding: 10px 24px;
  background: #0d0d0d;
  color: #ffffff;
  border-radius: 6px;
  font-size: 15px;
  text-decoration: none;
  transition: 0.3s;
}

.event-button:hover {
  background: #00d4ff;
  color: #0d0d0d;
}
